.header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0061aa;
  color: #fff;
}
.header__title{
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.header__name-zone{
color:#e37021;
font-weight: 700;
margin-right: 30px;
}
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
}
.auth__form {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #0061aa;
  border-radius: 5px;
}
.auth__row {
  margin: 20px;
  text-align: center;
  width: 100%;
}
.auth__label {
  color: gray;
}
.auth__input {
  padding: 10px;
  width: 80%;
}
.auth__button {
  border: 0;
  background-color: #0061aa;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.auth__button:hover {
  background-color: #234567;
}
.logon-area__username {
  margin-right: 10px;
}
.logon-area__logout {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #fff;
  color: #0061aa;
  border: 0;
  border-radius: 5px;
  outline: 0;
  transition: all 300ms;
}
.logon-area__logout:hover {
  background-color: #e37021;
  color: #fff;
}
.button-main {
  background-color: #0061aa;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition: all 300ms;
  margin-left: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.button-main:hover {
  background-color: #e37021;
}
.button-main:active {
  transform: scale(.95);
  box-shadow: none;
}
.disconnect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.disconnect__item {
  border-left: 1px solid #bbb;
  width: 48vw;
}

.disconnected__title {
  padding: 5px;
}
.date-block {
  display: flex;
  justify-content: space-around;
}
table {
  border: 3px solid #0061aa;
  margin: 5px;
  border-collapse: collapse;
  width: 99%;
}
th {
  background-color: #0061aa;
  color: #fff;
}
th,
td {
  border: 1px solid grey;
  padding: 10px;
}

.disconnected__list {
  border: 1px solid gray;
}
.disconnected__item:nth-child(2n) {
  background-color: rgb(247, 247, 247);
}
.disconnected__flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.disconnected__edit {
  display: inline-block;
  cursor: pointer;
  color: #0061aa;
  font-size: 24px;
  transition: all 300ms;
}

.disconnected__edit:hover {
  color: #e37021;
  transform: scale(1.3);
}
.disconnected__del{
  display: inline-block;
  cursor: pointer;
  color: #f00;
  font-size: 24px;
  transition: all 300ms;
  margin-left: 20px;
}
.disconnected__del:hover {
  color: #e37021;
  transform: scale(1.3);
}
.disconnect-add {
  padding: 5px;
}
.disconnect-add__row {
  margin-top: 10px;
}
.disconnect-add__label {
  display: block;
  color: #999;
}
.disconnect-add__select {
  padding: 5px;
  font-size: 16px;
  margin-left: 5px;
  min-width: 50%;
}
.disconnect-add__button-area {
  text-align: center;
}
.disconnect-add__button {
  background-color: #f00;
  text-align: center;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.address-form {
  border: 2px solid #e37021;
  border-radius: 5px;
  background-color: #fff;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.address-form__row {
  position: relative;
  width: 100%;
  margin: 10px;
  text-align: center;
}
.address-form__input {
  padding: 10px;
  width: 50%;
}
.address-form__submit {
  margin-left: 10px;
  background-color: #0061aa;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: 0;
}
.address-form__submit:hover {
  background-color: #1170bb;
}
.fias-list {
  background-color: #fff;
  z-index: 100;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 23px;
  left: 30px;
  border: 1px solid #999;
}
.fias-list__item {
  cursor: pointer;
  padding: 10px;
}
.fias-list__item:hover {
  background-color: #eee;
}
.flex {
  display: flex;
  align-items: center;
}
.text-right {
  text-align: right;
}
.street__list {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  list-style: none;
  /* display: inline-block; */
  /* width: 50%; */
  /* border: 1px solid #999;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1); */
  min-height: 100px;
}
.street-row {
  display: flex;
}
.street-row:nth-child(2n + 1) {
  background-color: rgb(247, 247, 247);
}
.street-table__th {
  background-color: #0061aa;
  color: #fff;
  padding: 5px;
  border: 1px solid #eee;
  text-align: center;
  flex: 1;
  width: 30%;
  font-weight: 600;
}
.street-table__td {
  padding: 5px;
  border: 1px solid #eee;
  flex: 1;
  width: 30%;
}
.period {
}
.period__row {
  display: inline-block;
  margin: 10px;
  display: flex;
}
.period__title {
  min-width: 65px;
  margin-right: 5px;
  font-weight: 700;
}
.comment__input {
  margin-top: 5px;
  width: 95%;
  padding: 5px;
}
.addedDisconnect {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .disconnect__item {
    width: 100vw;
  }
}
@media (max-width: 800px) {
  .header__title {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .header {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .header__item {
    margin-bottom: 10px;
  }
  .disconnect__item {
    width: 100vw;
  }
}
